.menu {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(58, 58, 58);
  box-shadow: 0px 3px 20px #000007;
}

.s1 {
  background-color: aliceblue;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 20px #000007;
}

.imgPerfil {
  width: 400px;
  height: 400px;
  transition: all 200ms ease-in-out;
}
.imgPerfil:hover {
  transform: scale(1.1);
}

.right {
  width: 500px;
}


.tittle{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 58, 58);
  border-top: 2px solid rgb(58, 58, 58);
}
.rodape a{
  transition: all 200ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
}
.rodape a:hover{
  transform: translateY(-15px) scale(1.3)
}

@media(width<=768px){
  .s1{
    padding-top: 50px;
    gap: 0;
  }
  .left{
    width: 300px;
    height: 300px;
  }
  .right{
    padding: 20px;
    margin-top: -150px;
  }
}
