.menu {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(58, 58, 58);
  box-shadow: 0px 3px 20px #000007;
}

.s1 {
  background-color: aliceblue;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 20px #000007;
}

.imgPerfil {
  width: 400px;
  height: 400px;
  transition: all 200ms ease-in-out;
}
.imgPerfil:hover {
  transform: scale(1.1);
}

.right {
  width: 500px;
}


.tittle{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 58, 58);
  border-top: 2px solid rgb(58, 58, 58);
}
.rodape a{
  transition: all 200ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
}
.rodape a:hover{
  transform: translateY(-15px) scale(1.3)
}

.s4{
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  height: auto;
  padding: 50px;
  gap: 50px;
}

.s4 h2{
  color: rgb(81, 80, 80);
  font-size: 56px;
  letter-spacing: 10px;
  font-weight: bold;
}

.formData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px ;
  border: 2px solid rgb(81, 80, 80);
  box-shadow: 0px 3px 20px rgb(81, 80, 80);
  padding: 20px;
}

.formData label{
  text-align: left;
  width: 100%;
  margin-bottom: -7px;
}

.formData input{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  border: 2px solid rgb(81, 80, 80);
}

.formData textarea{
  width: 300px;
  height: 70px;
  border: none;
  border: 2px solid rgb(81, 80, 80);
  padding: 10px;
}
.formData button{
  padding: 10px;
  border: none;
  border: 2px solid rgb(81, 80, 80);
  width: 100%;
  opacity:  0.7;
}
.formData button:hover{
  cursor: pointer;
  opacity: 1;
}

.s2{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}
.tecTittle{
  width: 100%;
  text-align: center;
  color: #000007;
  font-size: 10px;
  letter-spacing: 10px;
  font-weight: bold;
}

.wrapCards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media(width<=768px){
  .s1{
    padding-top: 50px;
    gap: 0;
  }
  .left{
    width: auto;
    height: auto;
  }
  .right{
    padding: 20px;
    margin-top: -150px;
  }
  .s4 h2{
  color: rgb(81, 80, 80);
  font-size: 56px;
  letter-spacing: 5px;
}
}
